## Datenbanken

In [1]:
import sqlite3 as sql
import pandas as pd

In [2]:
cursor = None
with sql.connect("Test.db") as conn:
    cursor = conn.cursor()

In [3]:
cursor.execute('CREATE TABLE Personen (id int, name varchar(50))')

In [4]:
cursor.execute("INSERT INTO Personen VALUES (0, 'Lukas')")
cursor.execute("INSERT INTO Personen VALUES (1, 'Anita')")

In [15]:
result = cursor.execute("SELECT * FROM Personen").fetchall()

personen = []
for r in result:
    personen.append(Person(r[0], r[1]))

In [17]:
pd.DataFrame(result)

   0      1
0  0  Lukas
1  1  Anita

In [14]:
class Person:
    def __init__(self, id, name):
        self.id = id
        self.name = name